<h1>Meta Tic-Tac-Toe Rules</h1>


<h4>Board</h4>
<p>The game board consists of a three-by-three grid of tic-tac-toe boards.</p>

<h4>Winning</h4>
<p>
  The goal of the game is to win three of the tic-tac-toe boards in the same row, column, or diagonal - a meta tic-tac-toe.
</p>

<p>Each individual tic-tac-toe board is won by the usual rules of tic-tac-toe.</p>

<h4>Play</h4>
<p>
  On the first move, a player may place a mark in any of the available slots. 
</p>

<p>
  After the first move, however, players may only make marks in the tic-tac-toe board whose position in the game board is the same as the position in the smaller tic-tac-toe board of the previous player's mark.
</p>

<p>
  For example, if the first player were to play in the top left corner of the center tic-tac-toe board, the second player would have to place his or her next mark in one of the slots of the top left tic-tac-toe board.
</p>

<p>
  Note that it is perfectly legal (and, in some cases, a good strategy) to send your opponent to a tic-tac-toe board that has already been won.
</p>


<div class="alert alert-info">
These rules have been taken from Greg Owen's <a href="https://github.com/GregOwen/Meta-Tic-Tac-Toe">Meta-Tic-Tac-Toe</a> page.
</div>