<h1>Game Expired</h1>

<div class="alert">
It looks like nothing was happening in your game for awhile, so we closed the connection.
<br/><br/>
Don't worry, you can always <%= link_to 'return to your game', @game %> if you want.
</div>