// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#gameboard {

  position:relative;

  td {
    text-align:center;
    font-weight:bold;
    font-size: 24px;
    height: 25px;
    vertical-align: middle;
    a {
      text-decoration: none;
      display:none;
    }
  }

  td:hover {
    a {
      display: block;
    }
  }

  .next-turn {
    table {
      background-color: #fcf8e3;
    }
  }
}


#wait_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  //background-color: #eee;
  text-align: center;
  padding-top: 10px;
  line-height:20px;
  //border: 1px solid #000;
  margin-bottom:0;
  padding-top:15%;
  span {
    font-weight:bold;
    font-size:20px;
    line-height: 20px;
    vertical-align: middle;
    display: inline-block;
  }
}

.board-stats {
  position: relative;
}

.overall-board td {
  text-align:center;
  font-weight:bold;
  font-size: 24px;
  height: 25px;
  vertical-align: middle;
}

#turn_notice {
  font-weight:bold;
}